# Import packages

In [2]:
pip install uszipcode==0.1.3

Collecting uszipcode==0.1.3
  Downloading uszipcode-0.1.3.zip (4.5 MB)
Building wheels for collected packages: uszipcode
  Building wheel for uszipcode (setup.py): started
  Building wheel for uszipcode (setup.py): finished with status 'done'
  Created wheel for uszipcode: filename=uszipcode-0.1.3-py3-none-any.whl size=4485511 sha256=baecec28a868ce17128ada9ef81a3fcf98c64327709dff466def16226dad0b26
  Stored in directory: c:\users\arthu\appdata\local\pip\cache\wheels\21\a0\9e\663add81d7e03bea317ffd625891cddf2422fc0b5fe5494f3c
Successfully built uszipcode
Installing collected packages: uszipcode
  Attempting uninstall: uszipcode
    Found existing installation: uszipcode 0.2.0
    Uninstalling uszipcode-0.2.0:
      Successfully uninstalled uszipcode-0.2.0
Successfully installed uszipcode-0.1.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
#conda update scikit-learn
#conda install -c conda-forge sklearn-pandas
import pandas as pd 
import os
import datetime as dt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn_pandas import DataFrameMapper
import hashlib as h
from uszipcode import SearchEngine

ImportError: cannot import name 'SearchEngine' from 'uszipcode' (C:\Users\arthu\anaconda3\lib\site-packages\uszipcode\__init__.py)

## Interesting definition 

- k-anonymous : A table is k-anonymous if every record in the table is indistinguishable from at least k-1 other records, with respect to every set of quasi-identifiers
- l-diverse :  An equivalence class is l-diverse if it contains at least l distinct values for the sensitive attributes. A table is l-diverse if every equivalence class is l-diverse

# Directory choice

In [2]:
data = pd.read_csv("../resources/dataset_HW3.csv")

# Visualazing data

In [163]:
#pd.reset_option('all')
data

,id,gender,dob,zipcode,education,employment,children,marital_status,ancestry,number_vehicles,commute_time,accommodation,disease
0,Amelia Morrow,female,12/1950,26904,High School,Retired,2,married,Africa,2,0.0,Own house,Alzheimer's disease
1,Lillian Cole,female,4/1940,78088,PhD/md,Retired,1,married,Africa,1,0.0,Rent flat,multiple sclerosis
2,Lillian Simpson,female,12/1966,51502,Bachelor,Employed,1,married,Asia,0,0.1,Rent flat,heart disease
3,Avery Richards,female,4/1943,54080,Bachelor,Retired,1,married,Africa,0,0.0,Rent room,endometriosis
4,Sophia Alvarado,female,10/1947,68785,High School,Retired,1,married,Europe,0,0.0,Rent flat,gastritis
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Connor Pena,male,11/1997,71300,High School,Student,0,divorced,Europe,0,1.1,Rent house,gastritis
1996,Caleb Bowman,male,11/1999,49030,High School,Student,0,single,North America,0,0.1,Rent house,gastritis
1997,Ella Barber,female,6/1948,92883,Masters,Retired,5,married,Africa,1,0.0,Own house,skin cancer
1998,Gavin Wilson,male,4/1976,42200,High School,Employed,1,married,Asia,2,0.0,Own flat,diabetes
1999,Ariel Garner,female,2/1984,28590,High School,Employed,1,married,Africa,0,0.1,Own flat,hypertension

#### For sociologists, to study the impact of stress and high-pressure environments on one’s health. They are looking for factors in people’s lives that could correlate to certain diseases or conditions. : 

They don't need to know any information about the identity of individuals. However, gender, dob and localisaiton  is really important information : 

- The id ( by name could be dropped (BE CARREFUL BECAUSE THIS INFORMATION COULD BE LINKED WITH THE SECOND PART OF THE EXERCICE)) 
- The gender could be replaced by 0 or 1 ( mais en vrai ca change pas grand chose)
- The dob : we don't need the day and the month of birth ==> Ne pourrait-on pas modifier grâce à une gaussienne de moyenne 0 sd 1 les dates de naissance ? On gagne en anonymisation, on ne perd pas grand chose 
- Zip code, we do not need the entire zipcode, we can keep only the first to digit.

==> Etant donnél'étude demandé, le risque n'est pas les identifiant mais les pseusos identifiants.

#### For the US department of Health and Human services chairman, to decide where to build new hospitals, and which departments (radiology, neurology, pulmonology, oncology...) to have in these, as the US federal government has just allocated money to build *5 new hospitals across the country* : 

A priori, je ne vois pas pourquoi on aurait besoin d'information sur les individus, ce qui nous importe est uniquement les maladies, la localicaiton, et pourquoi pas l'age des gens.

- Gender ne sert plus à rien
- l'année de naissance suffit 
- les deux premiers digit du zip code sont suffisant (étant donné que l'on va faire que 5 hopitauyx across the country)
- L'éducation on s'en branle
- Emploie on s'en fou
- Nombre d'enfant on s'en fou 
- Marital status on s'en branle
- ancestry on s'en fou 
- Nombre de véhicule ( est ce que ca peut être intéressant étant donné que c'est des hopitaux? ==> Ambulance tout ca)
- communte-time on s'en branle 
- accommodation on s'en fou 
- Maladie, pourrait on déjà regrouper les différentes maladies selon le service utilise à soigner les tiches ? On s'en branle de savoir si c'est un cancer du foie ou de la peau, ce qui est intéressant c'est qu'il faut un service d'oncologie

## Mofification de la base de données

In [3]:
# object needed to search for a zipcode
search = SearchEngine(simple_zipcode=True)

In [9]:
# from zipcode to major city 
 
dict_major_city = {}

for zip in data['zipcode']:
    z = str(zip)
    zipcode = search.by_zipcode(z)
    dict_major_city[z] = zipcode.post_office_city
    
dict_major_city

{'26904': None,
 '78088': None,
 '51502': None,
 '54080': None,
 '68785': 'Waterbury, NE',
 '75966': 'Newton, TX',
 '32249': None,
 '32582': None,
 '96649': None,
 '93909': None,
 '74707': None,
 '50190': None,
 '45835': 'Dola, OH',
 '58074': None,
 '10417': None,
 '71753': 'Magnolia, AR',
 '69470': None,
 '91647': None,
 '22273': None,
 '25421': None,
 '23049': None,
 '84284': None,
 '56756': 'Salol, MN',
 '99061': None,
 '28952': None,
 '65659': None,
 '75920': None,
 '44465': None,
 '15531': 'Boswell, PA',
 '46311': 'Dyer, IN',
 '29854': None,
 '53446': None,
 '40263': None,
 '77184': None,
 '83928': None,
 '86786': None,
 '76866': 'Paint Rock, TX',
 '60520': 'Hinckley, IL',
 '84896': None,
 '74404': None,
 '65532': None,
 '97219': 'Portland, OR',
 '13655': 'Hogansburg, NY',
 '34686': None,
 '81511': None,
 '20519': None,
 '26137': 'Big Springs, WV',
 '85245': None,
 '40571': None,
 '37660': 'Kingsport, TN',
 '50385': None,
 '45479': None,
 '96927': None,
 '25260': 'Mason, WV',
 '23453': 'Virginia Beach, VA',
 '11655': None,
 '83083': None,
 '22976': 'Tyro, VA',
 '12351': None,
 '69488': None,
 '20767': None,
 '22436': 'Caret, VA',
 '50341': None,
 '48003': 'Almont, MI',
 '65909': None,
 '34593': None,
 '97088': None,
 '30699': None,
 '45442': None,
 '18229': 'Jim Thorpe, PA',
 '25074': None,
 '12852': 'Newcomb, NY',
 '69094': None,
 '50857': 'Nodaway, IA',
 '81981': None,
 '45202': 'Cincinnati, OH',
 '10633': None,
 '82294': None,
 '12382': None,
 '38511': None,
 '81881': None,
 '63856': None,
 '87403': None,
 '76514': None,
 '14575': None,
 '67263': None,
 '38362': 'Oakfield, TN',
 '92002': None,
 '51009': 'Calumet, IA',
 '89581': None,
 '32773': 'Sanford, FL',
 '57456': 'Leola, SD',
 '13925': None,
 '28202': 'Charlotte, NC',
 '97626': 'Fort Klamath, OR',
 '12315': None,
 '93075': None,
 '86492': None,
 '32391': None,
 '10063': None,
 '76325': None,
 '87917': None,
 '27141': None,
 '97808': None,
 '94452': None,
 '79364': 'Slaton, TX',
 '34859': None,
 '87667': None,
 '69618': None,
 '89578': None,
 '55841': None,
 '86900': None,
 '67888': None,
 '19707': 'Hockessin, DE',
 '30877': None,
 '55301': 'Albertville, MN',
 '36949': None,
 '60817': None,
 '22414': None,
 '41952': None,
 '77567': None,
 '76362': None,
 '66281': None,
 '33865': 'Ona, FL',
 '15348': 'Millsboro, PA',
 '49396': None,
 '87956': None,
 '84090': None,
 '87478': None,
 '36661': None,
 '94119': None,
 '46444': None,
 '11015': None,
 '40328': 'Gravel Switch, KY',
 '74023': 'Cushing, OK',
 '22501': None,
 '91148': None,
 '79016': 'Canyon, TX',
 '84891': None,
 '79328': None,
 '53103': 'Big Bend, WI',
 '83516': None,
 '12192': 'West Coxsackie, NY',
 '47764': None,
 '67786': None,
 '98347': None,
 '11224': 'Brooklyn, NY',
 '39892': None,
 '60451': 'New Lenox, IL',
 '59185': None,
 '50662': 'Oelwein, IA',
 '43610': 'Toledo, OH',
 '98244': 'Deming, WA',
 '90824': None,
 '32793': None,
 '17362': 'Spring Grove, PA',
 '82448': None,
 '83109': None,
 '28355': None,
 '69092': None,
 '43681': None,
 '17084': 'Reedsville, PA',
 '90841': None,
 '11644': None,
 '68611': None,
 '77138': None,
 '26954': None,
 '80091': None,
 '79690': None,
 '31117': None,
 '22162': None,
 '99622': 'Kwigillingok, AK',
 '82555': None,
 '43506': 'Bryan, OH',
 '21175': None,
 '86871': None,
 '17404': 'York, PA',
 '24997': None,
 '21030': 'Cockeysville, MD',
 '27940': None,
 '51702': None,
 '25116': None,
 '91487': None,
 '47200': None,
 '46034': 'Cicero, IN',
 '32057': None,
 '56494': None,
 '56318': 'Burtrum, MN',
 '96937': None,
 '85497': None,
 '79493': None,
 '39385': None,
 '80632': None,
 '62287': None,
 '52381': None,
 '35661': 'Muscle Shoals, AL',
 '82979': None,
 '74529': None,
 '65691': None,
 '13736': 'Berkshire, NY',
 '68074': None,
 '68599': None,
 '22417': None,
 '32332': 'Gretna, FL',
 '90269': None,
 '99546': 'Adak, AK',
 '57525': None,
 '19865': None,
 '50379': None,
 '87745': 'Sapello, NM',
 '64656': 'Ludlow, MO',
 '56072': 'New Richland, MN',
 '95047': None,
 '31298': None,
 '12760': 'Long Eddy, NY',
 '17634': None,
 '13033': 'Cato, NY',
 '10625': None,
 '24741': None,
 '62737': None,
 '65421': None,
 '46566': None,
 '23825': None,
 '13691': 'Theresa, NY',
 '98676': None,
 '28757': 'Montreat, NC',
 '50117': 'Hamlin, IA',
 '12381': None,
 '55455': 'Minneapolis, MN',
 '46847': None,
 '21197': None,
 '20548': None,
 '96235': None,
 '98790': None,
 '90072': None,
 '21805': None,
 '63576': None,
 '34910': None,
 '68986': None,
 '11344': None,
 '47212': None,
 '27694': None,
 '54083': None,
 '58302': None,
 '85115': None,
 '48358': None,
 '93946': None,
 '16922': 'Galeton, PA',
 '47850': 'Farmersburg, IN',
 '92661': 'Newport Beach, CA',
 '22856': None,
 '36848': None,
 '47837': 'Carbon, IN',
 '56789': None,
 '38268': None,
 '80950': None,
 '51122': None,
 '32418': None,
 '45048': None,
 '79534': 'Mc Caulley, TX',
 '33264': None,
 '42760': None,
 '39569': None,
 '26138': 'Brohard, WV',
 '89504': None,
 '32179': 'Ocklawaha, FL',
 '18788': None,
 '64700': None,
 '99655': 'Quinhagak, AK',
 '67331': None,
 '79781': 'Sheffield, TX',
 '80378': None,
 '28912': None,
 '26543': 'Osage, WV',
 '61350': 'Ottawa, IL',
 '29666': 'Ninety Six, SC',
 '93274': 'Tulare, CA',
 '64357': None,
 '60034': 'Hebron, IL',
 '48703': 'Au Gres, MI',
 '30989': None,
 '68688': None,
 '98067': None,
 '64887': None,
 '97851': None,
 '50711': None,
 '47988': None,
 '55902': 'Rochester, MN',
 '38935': None,
 '67102': None,
 '66491': None,
 '43141': None,
 '71754': None,
 '50585': 'Sioux Rapids, IA',
 '53901': 'Portage, WI',
 '34715': 'Clermont, FL',
 '33661': None,
 '68379': 'Julian, NE',
 '14987': None,
 '93108': 'Santa Barbara, CA',
 '37466': None,
 '80832': 'Ramah, CO',
 '42818': None,
 '17521': None,
 '69445': None,
 '78239': 'San Antonio, TX',
 '88024': 'Berino, NM',
 '12752': 'Lake Huntington, NY',
 '60922': 'Chebanse, IL',
 '20557': None,
 '38234': None,
 '18286': None,
 '33670': None,
 '81568': None,
 '17427': None,
 '97618': None,
 '63536': 'Downing, MO',
 '82642': 'Lysite, WY',
 '39043': None,
 '80945': None,
 '39295': None,
 '56109': None,
 '65107': None,
 '27323': None,
 '81415': 'Crawford, CO',
 '33375': None,
 '53056': None,
 '51392': None,
 '94840': None,
 '42775': None,
 '54124': 'Gillett, WI',
 '47631': 'New Harmony, IN',
 '81457': None,
 '18872': None,
 '56647': 'Hines, MN',
 '73324': None,
 '74189': None,
 '29190': None,
 '35118': 'Mulga, AL',
 '55489': None,
 '13787': 'Harpursville, NY',
 '86130': None,
 '66682': None,
 '81958': None,
 '39580': None,
 '89286': None,
 '70361': None,
 '51880': None,
 '96253': None,
 '82383': None,
 '26147': 'Grantsville, WV',
 '73702': None,
 '28373': 'Pinebluff, NC',
 '66750': None,
 '32150': None,
 '83377': None,
 '12531': 'Holmes, NY',
 '69183': None,
 '14756': 'Maple Springs, NY',
 '17615': None,
 '59588': None,
 '33334': 'Fort Lauderdale, FL',
 '18308': None,
 '60420': 'Dwight, IL',
 '59551': None,
 '86636': None,
 '91656': None,
 '75110': 'Corsicana, TX',
 '26750': 'Piedmont, WV',
 '95073': 'Soquel, CA',
 '80891': None,
 '64861': 'Rocky Comfort, MO',
 '76019': None,
 '85346': 'Quartzsite, AZ',
 '96703': 'Anahola, HI',
 '32789': 'Winter Park, FL',
 '42969': None,
 '89552': None,
 '26317': None,
 '95775': None,
 '16669': 'Petersburg, PA',
 '87752': 'Wagon Mound, NM',
 '57445': 'Groton, SD',
 '63051': 'House Springs, MO',
 '45501': None,
 '84764': 'Bryce, UT',
 '77569': None,
 '45031': None,
 '80357': None,
 '54019': None,
 '15027': 'Conway, PA',
 '25856': None,
 '99731': None,
 '45562': None,
 '73247': None,
 '20759': 'Fulton, MD',
 '17342': None,
 '91480': None,
 '97306': 'Salem, OR',
 '94670': None,
 '18270': None,
 '59529': 'Hogeland, MT',
 '47474': None,
 '67464': 'Marquette, KS',
 '73601': 'Clinton, OK',
 '89305': None,
 '40465': None,
 '99384': None,
 '48374': 'Novi, MI',
 '36814': None,
 '76765': None,
 '34587': None,
 '69517': None,
 '64323': None,
 '56511': 'Audubon, MN',
 '32546': None,
 '30561': None,
 '66483': None,
 '33087': None,
 '69647': None,
 '44040': 'Gates Mills, OH',
 '86650': None,
 '69151': 'Maxwell, NE',
 '29145': 'Silverstreet, SC',
 '68711': 'Amelia, NE',
 '25413': 'Bunker Hill, WV',
 '44840': 'Jeromesville, OH',
 '84162': None,
 '64975': None,
 '95924': None,
 '79345': 'Meadow, TX',
 '98534': None,
 '92958': None,
 '39079': 'Goodman, MS',
 '82127': None,
 '85613': 'Fort Huachuca, AZ',
 '96955': None,
 '14002': None,
 '95020': 'Gilroy, CA',
 '50576': 'Rembrandt, IA',
 '76642': 'Groesbeck, TX',
 '41891': None,
 '63368': 'O Fallon, MO',
 '16414': None,
 '59415': None,
 '90692': None,
 '66271': None,
 '82496': None,
 '84126': None,
 '14768': None,
 '61388': None,
 '32766': 'Oviedo, FL',
 '12132': 'North Chatham, NY',
 '68973': 'Roseland, NE',
 '77775': None,
 '55618': None,
 '20071': None,
 '69416': None,
 '74476': None,
 '71454': 'Montgomery, LA',
 '83647': 'Mountain Home, ID',
 '21065': None,
 '96331': None,
 '65006': None,
 '28458': 'Rose Hill, NC',
 '42201': None,
 '78764': None,
 '17831': None,
 '47003': 'West College Corner, IN',
 '41559': 'Regina, KY',
 '66523': 'Osage City, KS',
 '58941': None,
 '62568': 'Taylorville, IL',
 '68038': 'Lyons, NE',
 '13486': 'Westernville, NY',
 '14699': None,
 '86322': 'Camp Verde, AZ',
 '54991': None,
 '14686': None,
 '84899': None,
 '25746': None,
 '37495': None,
 '88558': None,
 '50318': None,
 '12277': None,
 '35810': 'Huntsville, AL',
 '96397': None,
 '81928': None,
 '20107': None,
 '14119': None,
 '25064': 'Dunbar, WV',
 '39036': None,
 '46618': None,
 '44965': None,
 '35361': None,
 '77068': 'Houston, TX',
 '52188': None,
 '72097': None,
 '80854': None,
 '84983': None,
 '82245': None,
 '94961': None,
 '15398': None,
 '84255': None,
 '31036': 'Hawkinsville, GA',
 '63082': None,
 '34589': None,
 '71147': None,
 '33891': None,
 '67790': None,
 '21840': 'Nanticoke, MD',
 '84177': None,
 '73482': None,
 '26962': None,
 '29483': 'Summerville, SC',
 '72689': None,
 '51036': 'Maurice, IA',
 '85116': None,
 '61551': None,
 '77646': None,
 '51373': None,
 '26611': 'Cedarville, WV',
 '79390': None,
 '43039': None,
 '53487': None,
 '38707': None,
 '35220': None,
 '71740': 'Emerson, AR',
 '96302': None,
 '60392': None,
 '53731': None,
 '11853': None,
 '13927': None,
 '91576': None,
 '84382': None,
 '31342': None,
 '34030': None,
 '81420': None,
 '68790': 'Winside, NE',
 '26674': None,
 '14934': None,
 '13885': None,
 '95816': 'Sacramento, CA',
 '74712': None,
 '44135': 'Cleveland, OH',
 '59826': 'Condon, MT',
 '30283': None,
 '94781': None,
 '36981': None,
 '75528': None,
 '71244': None,
 '77745': None,
 '69562': None,
 '73953': None,
 '84167': None,
 '30121': 'Cartersville, GA',
 '23679': None,
 '49031': 'Cassopolis, MI',
 '99952': None,
 '67895': None,
 '28138': 'Rockwell, NC',
 '79740': None,
 '93240': 'Lake Isabella, CA',
 '84161': None,
 '24455': None,
 '86311': None,
 '59708': None,
 '67144': 'Towanda, KS',
 '58785': 'Surrey, ND',
 '12365': None,
 '71166': None,
 '38465': None,
 '88293': None,
 '85615': 'Hereford, AZ',
 '83601': 'Atlanta, ID',
 '28926': None,
 '14234': None,
 '57985': None,
 '40282': None,
 '30834': None,
 '61419': 'Bishop Hill, IL',
 '86384': None,
 '18890': None,
 '90929': None,
 '97937': None,
 '94250': None,
 '36331': None,
 '92314': 'Big Bear City, CA',
 '83383': None,
 '85959': None,
 '46661': None,
 '86792': None,
 '61124': None,
 '81551': None,
 '40942': None,
 '61625': 'Peoria, IL',
 '10438': None,
 '32868': None,
 '70233': None,
 '89315': None,
 '40799': None,
 '31407': 'Savannah, GA',
 '50959': None,
 '50249': 'Stratford, IA',
 '67543': 'Haven, KS',
 '81055': 'La Veta, CO',
 '49802': 'Kingsford, MI',
 '74524': None,
 '68691': None,
 '40221': None,
 '50817': None,
 '79325': 'Farwell, TX',
 '91317': None,
 '72338': 'Frenchmans Bayou, AR',
 '29370': 'Mountville, SC',
 '79294': None,
 '11335': None,
 '46053': None,
 '13958': None,
 '96091': 'Trinity Center, CA',
 '22699': None,
 '26685': None,
 '64501': 'Saint Joseph, MO',
 '15290': 'Pittsburgh, PA',
 '87088': None,
 '41491': None,
 '51604': None,
 '80290': 'Denver, CO',
 '81986': None,
 '23771': None,
 '77525': None,
 '35775': 'Valhermoso Springs, AL',
 '68428': 'Raymond, NE',
 '97442': 'Glendale, OR',
 '30393': None,
 '56990': None,
 '80872': None,
 '54407': 'Amherst Junction, WI',
 '37459': None,
 '84947': None,
 '16182': None,
 '21059': None,
 '10091': None,
 '50382': None,
 '41345': None,
 '36462': None,
 '90254': 'Hermosa Beach, CA',
 '37755': 'Helenwood, TN',
 '23968': 'Skipwith, VA',
 '87774': None,
 '88689': None,
 '88193': None,
 '94729': None,
 '12691': None,
 '14451': None,
 '18747': None,
 '24596': None,
 '53906': None,
 '46218': 'Indianapolis, IN',
 '72884': None,
 '21277': None,
 '36137': None,
 '99001': 'Airway Heights, WA',
 '92577': None,
 '42347': 'Hartford, KY',
 '95192': None,
 '87666': None,
 '68299': None,
 '27893': 'Wilson, NC',
 '78262': None,
 '72632': 'Eureka Springs, AR',
 '98850': 'Rock Island, WA',
 '31141': None,
 '40533': None,
 '74911': None,
 '72400': None,
 '24282': 'Saint Charles, VA',
 '28666': 'Icard, NC',
 '62752': None,
 '32176': 'Ormond Beach, FL',
 '75215': 'Dallas, TX',
 '69379': None,
 '61885': None,
 '77911': None,
 '54347': None,
 '63411': None,
 '85728': None,
 '51010': 'Castana, IA',
 '22064': None,
 '80991': None,
 '96921': None,
 '65402': None,
 '40798': None,
 '60760': None,
 '71597': None,
 '49520': None,
 '61709': None,
 '16252': None,
 '86594': None,
 '55670': None,
 '24254': None,
 '93947': None,
 '40286': None,
 '76104': 'Fort Worth, TX',
 '24368': 'Rural Retreat, VA',
 '30142': None,
 '83482': None,
 '57771': None,
 '11799': None,
 '33378': None,
 '81968': None,
 '53947': 'Marquette, WI',
 '52002': 'Dubuque, IA',
 '39601': 'Brookhaven, MS',
 '76722': None,
 '13754': 'Deposit, NY',
 '43577': None,
 '48363': 'Oakland, MI',
 '19031': 'Flourtown, PA',
 '35124': 'Pelham, AL',
 '70553': None,
 '92047': None,
 '67398': None,
 '58375': None,
 '23255': None,
 '41512': 'Ashcamp, KY',
 '26548': None,
 '18651': 'Plymouth, PA',
 '10689': None,
 '30625': 'Buckhead, GA',
 '62118': None,
 '92375': None,
 '68768': 'Pilger, NE',
 '11624': None,
 '61173': None,
 '80264': 'Denver, CO',
 '48098': 'Troy, MI',
 '63009': None,
 '13719': None,
 '12797': None,
 '10872': None,
 '28807': None,
 '96318': None,
 '94247': None,
 '71023': 'Doyline, LA',
 '96380': None,
 '98976': None,
 '48258': None,
 '56165': 'Reading, MN',
 '86935': None,
 '87445': None,
 '51243': 'Little Rock, IA',
 '29396': None,
 '70607': 'Lake Charles, LA',
 '55335': 'Gibbon, MN',
 '48837': 'Grand Ledge, MI',
 '30227': None,
 '19600': None,
 '48086': None,
 '18808': None,
 '96980': None,
 '85308': 'Glendale, AZ',
 '83710': None,
 '54890': None,
 '98496': None,
 '28733': 'Fontana Dam, NC',
 '94204': None,
 '77119': None,
 '70039': 'Boutte, LA',
 '21126': None,
 '98527': 'Bay Center, WA',
 '68087': None,
 '35457': 'Echola, AL',
 '33009': 'Hallandale, FL',
 '42895': None,
 '18318': None,
 '88057': None,
 '96718': None,
 '99938': None,
 '77056': 'Houston, TX',
 '18327': 'Delaware Water Gap, PA',
 '62453': None,
 '73624': 'Burns Flat, OK',
 '41812': 'Deane, KY',
 '30289': 'Turin, GA',
 '79107': 'Amarillo, TX',
 '63112': 'Saint Louis, MO',
 '85516': None,
 '42883': None,
 '45271': None,
 '55981': 'Wabasha, MN',
 '41249': None,
 '83720': None,
 '85990': None,
 '37154': None,
 '30139': 'Fairmount, GA',
 '80259': None,
 '12380': None,
 '38123': None,
 '46984': 'Somerset, IN',
 '19262': None,
 '11685': None,
 '74984': None,
 '79143': None,
 '33200': None,
 '53827': 'Woodman, WI',
 '88794': None,
 '37627': None,
 '27311': 'Pelham, NC',
 '63903': None,
 '15115': None,
 '10243': None,
 '44314': 'Akron, OH',
 '36828': None,
 '61799': None,
 '23586': None,
 '83744': None,
 '70578': 'Rayne, LA',
 '22894': None,
 '37804': 'Maryville, TN',
 '39750': 'Maben, MS',
 '67364': 'Tyro, KS',
 '37360': 'Normandy, TN',
 '25509': None,
 '38957': 'Sumner, MS',
 '38725': 'Benoit, MS',
 '58760': 'Maxbass, ND',
 '96774': 'Ookala, HI',
 '67345': 'Elk Falls, KS',
 '37878': 'Tallassee, TN',
 '38728': None,
 '20188': None,
 '13510': None,
 '24180': None,
 '43091': None,
 '89932': None,
 '83825': 'Dover, ID',
 '49485': None,
 '91835': None,
 '86699': None,
 '41730': None,
 '36456': 'Mc Kenzie, AL',
 '76424': 'Breckenridge, TX',
 '16635': 'Duncansville, PA',
 '50752': None,
 '49700': None,
 '30485': None,
 '23546': None,
 '33919': 'Fort Myers, FL',
 '71184': None,
 '29803': 'Aiken, SC',
 '14398': None,
 '61641': None,
 '92068': None,
 '77091': 'Houston, TX',
 '10318': None,
 '69735': None,
 '79904': 'El Paso, TX',
 '39144': 'Pattison, MS',
 '14813': 'Belmont, NY',
 '83396': None,
 '38835': None,
 '85440': None,
 '63069': 'Pacific, MO',
 '93440': 'Los Alamos, CA',
 '14733': 'Falconer, NY',
 '49794': None,
 '86726': None,
 '66565': None,
 '55067': None,
 '96574': None,
 '32094': 'Wellborn, FL',
 '40233': None,
 '60066': None,
 '11207': 'Brooklyn, NY',
 '38426': None,
 '13244': None,
 '10832': None,
 '62607': None,
 '61757': None,
 '85675': None,
 '78544': None,
 '76193': None,
 '44787': None,
 '59119': None,
 '98550': 'Hoquiam, WA',
 '67613': None,
 '63808': None,
 '30990': None,
 '85385': None,
 '22717': None,
 '58221': None,
 '35323': None,
 '40693': None,
 '56498': None,
 '84812': None,
 '26792': None,
 '69328': None,
 '53583': 'Sauk City, WI',
 '94033': None,
 '37720': None,
 '34618': None,
 '31824': 'Preston, GA',
 '37874': 'Sweetwater, TN',
 '23603': 'Newport News, VA',
 '25566': None,
 '14496': None,
 '37582': None,
 '92412': None,
 '72652': None,
 '37484': None,
 '80470': 'Pine, CO',
 '51668': None,
 '59758': 'West Yellowstone, MT',
 '12271': None,
 '45127': None,
 '73173': 'Oklahoma City, OK',
 '16008': None,
 '49888': None,
 '19978': None,
 '52097': None,
 '59302': None,
 '50171': 'Montezuma, IA',
 '51556': 'Modale, IA',
 '69589': None,
 '71263': 'Oak Grove, LA',
 '92424': None,
 '79122': None,
 '68919': None,
 '42278': None,
 '32569': 'Mary Esther, FL',
 '94270': None,
 '19454': 'North Wales, PA',
 '62006': 'Batchtown, IL',
 '21441': None,
 '38986': None,
 '24847': 'Itmann, WV',
 '75385': None,
 '64900': None,
 '24198': None,
 '87055': None,
 '46027': None,
 '91796': None,
 '62420': 'Casey, IL',
 '36425': 'Beatrice, AL',
 '96801': None,
 '45633': None,
 '48103': 'Ann Arbor, MI',
 '10755': None,
 '40099': None,
 '47352': 'Lewisville, IN',
 '90390': None,
 '13997': None,
 '44770': None,
 '60991': None,
 '72049': None,
 '13148': 'Seneca Falls, NY',
 '75432': 'Cooper, TX',
 '46578': None,
 '65232': 'Benton City, MO',
 '13517': None,
 '62309': None,
 '75100': None,
 '47441': 'Linton, IN',
 '31255': None,
 '14650': None,
 '74380': None,
 '25986': None,
 '61853': 'Mahomet, IL',
 '18113': None,
 '44049': 'Kipton, OH',
 '97964': None,
 '76360': 'Electra, TX',
 '56608': None,
 '38394': None,
 '92946': None,
 '78190': None,
 '99898': None,
 '53015': 'Cleveland, WI',
 '52907': None,
 '45018': None,
 '77895': None,
 '13622': 'Chaumont, NY',
 '96958': None,
 '28214': 'Charlotte, NC',
 '90853': None,
 '66683': None,
 '94998': None,
 '63525': None,
 '43413': 'Cygnet, OH',
 '60776': None,
 '26155': 'New Martinsville, WV',
 '17925': 'Brockton, PA',
 '43678': None,
 '14610': 'Rochester, NY',
 '68305': 'Auburn, NE',
 '51512': None,
 '10364': None,
 '91404': None,
 '17744': 'Linden, PA',
 ...}

## Variables catégorielles

In [168]:
def change_education(data, less, high, bach, master, phd):

    mapping_education = {
        'Less than High School':less,
        'High School':high,
        'Bachelor':bach,
        'Masters':master,
        'PhD/md':phd,
    }

    data["education"] = data.education.map(mapping_education)


def change_employment(data, employed, retired, student, unemployed):
    mapping_employment = {
        'Employed' : employed,
        'Retired' : retired,
        'Student' : student,
        'Unemployed' : unemployed
    }

    data["employment"] = data.employment.map(mapping_employment)


def change_children(data, zero, un, deux, trois, quatre , cinq, six, sept, huit):
    mapping_children = {
        0 : zero,
        1 : un,
        2 : deux,
        3 : trois,
        4 : quatre,
        5 : cinq,
        6 : six,
        7 : sept,
        8 : huit
    }

    data["children"] = data.children.map(mapping_children)

def change_marital_status(data, divorced, married, single, widowed):
    mapping_marital_status = {
        "divorced" : divorced,
        "married" : married,
        "single" : single,
        "widowed" : widowed,

    }

    data["marital_status"] = data.marital_status.map(mapping_marital_status)


def change_ancestry(data, Africa, Asia, Europe, North_America, Oceania, South_America):
    mapping_ancestry = {
        "Africa" : Africa,
        "Asia" : Asia,
        "Europe" : Europe,
        "North America" : North_America,
        "Oceania" : Oceania,
        "South America" : South_America

    }

    data["ancestry"] = data.ancestry.map(mapping_ancestry)


def change_number_vehicles(data, zero, un, deux, trois):
    mapping_nmbr_vehicule = {
        0 : zero,
        1 : un,
        2 : deux,
        3 : trois,

    }

    data["number_vehicles"] = data.number_vehicles.map(mapping_nmbr_vehicule)


def change_accommodation(data, Own_flat, Own_house, Rent_flat, Rent_house, Rent_room):
    mapping_accommodation = {
        "Own flat" : Own_flat,
        "Own house" : Own_house,
        "Rent flat" : Rent_flat,
        "Rent house" : Rent_house,
        "Rent room" : Rent_room,
        
    }

    data["accommodation"] = data.accommodation.map(mapping_accommodation)

# for the sake of the first use case we gather all specific diseases under more general health department 

def change_disease(data, gastritis, heart_disease, hypertension, diabetes, skin_cancer, prostate_cancer, breast_cancer, schizophrenia, Alzheimer, multiple_sclerosis, endometriosis, kidney_disease, HIV_AIDS):
    mapping_disease = {
        'gastritis': gastritis ,
        'heart disease': heart_disease,
        "hypertension": hypertension,
        "diabetes": diabetes,
        "skin cancer": skin_cancer,
        "prostate cancer":  prostate_cancer,
        "breast cancer": breast_cancer, 
        "schizophrenia": schizophrenia,
        "Alzheimer's disease": Alzheimer, 
        "multiple sclerosis": multiple_sclerosis,
        "endometriosis": endometriosis, 
        "kidney disease": kidney_disease,
        "HIV/AIDS": HIV_AIDS 
    }

    data['disease'] = data.disease.map(mapping_disease)

In [165]:
# 'low' under highschool, 'high' elsewhere 
change_education(data, less= 'low', high='low', bach='high', master='high', phd='high')

# active = {employed, student} unactive = {retired, unemployed}
change_employment(data, employed= 'active', retired='unactive', student='active', unemployed='unactive')

# QUE FAIRE AVEC LES CHILDREN ? 

# married = married, unmarried = others
change_marital_status(data, divorced='unmarried', married='married', single='unmarried', widowed='unmarried')

# native : north america, foreigners : others BUT to much 'other' compare to native so might affect negatively l-diversity. Instead, we merge north/south america 
change_ancestry(data, Africa='Africa', Asia='Asia', Europe='Europe', North_America='America', Oceania='Oceania', South_America='America')

# 1 if got vehicule, 0 else 
change_number_vehicles(data, zero='none', un='one', deux='more than one', trois='more than one')

# owner = owner, renter = renter regardless of the type of the accomodaations (2/3 owner, maybe reset these proportion ? )
change_accommodation(data, Own_flat='owner', Own_house='owner', Rent_flat= 'renter', Rent_house='renter', Rent_room='renter')

# gathered under medical departments
change_disease(data, gastritis='gastro-enterolgy', heart_disease='cardiovascular', hypertension='cardiovascular', diabetes='endocrynology', 
    skin_cancer='oncology', prostate_cancer='oncology', breast_cancer='oncology', 
    schizophrenia='psychiatry', Alzheimer='neurology', multiple_sclerosis='neurology', endometriosis='gynecology', kidney_disease='nephrology', HIV_AIDS='interal mdeicine')

#

In [169]:

data["education"].value_counts()
data["employment"].value_counts()
data["marital_status"].value_counts()
data["ancestry"].value_counts()
data["number_vehicles"].value_counts()
data["accommodation"].value_counts()
data["disease"].value_counts()

cardiovascular      459
oncology            295
neurology           280
gastro-enterolgy    255
interal mdeicine    159
endocrynology       149
gynecology          143
nephrology          131
psychiatry          129
Name: disease, dtype: int64

## Change ID by hashing

In [ ]:
d = {}

for id in data['id']:
    id_salted = str(id.replace(' ', '')+'arthurgeeraerd11751600')
    new_id = h.sha3_256(id_salted.encode()).hexdigest()
    d[id] = new_id

data_socio = data.replace(d)
d.clear()

# second dataset for the purpose of the 2nd use case (using salt : 'simonadrienkinartlegendre)

for id in data['id']:
    id_salted = str(id.replace(' ', '')+'simonadrienkinartlegendre')
    new_id = h.sha3_256(id_salted.encode()).hexdigest()
    d[id] = new_id

data_hospi = data.replace(d)
d.clear()

## Modification supplémentaire

In [9]:
# We drop ID
data.drop(columns=["id"], inplace=True)

# Binariser certaines variables ( gender a déjà été fait)
"""data = pd.get_dummies(data, columns=["disease", "education", "employment", "marital_status", "ancestry", "accommodation"], 
                        prefix=["disease", "education", "employment", "marital_status", "ancestry", "accommodation"])"""

# Autre méthode
encoders = [(["gender"], LabelEncoder()), (["disease"], LabelEncoder()), (["education"], LabelEncoder()),(["employment"], LabelEncoder()), 
            (["marital_status"], LabelEncoder()),(["ancestry"], LabelEncoder()),(["accommodation"], LabelEncoder())]

mapper = DataFrameMapper(encoders, df_out=True)
new_cols = mapper.fit_transform(data.copy())

data = pd.concat([data.drop(columns=["gender","disease", "education", "employment", "marital_status", "ancestry", "accommodation"]),
        new_cols], axis="columns")

C:\Users\arthu\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
data.nunique()

dob                 79
zipcode            806
children             9
number_vehicles      4
commute_time        12
gender               2
disease             13
education            5
employment           4
marital_status       4
ancestry             6
accommodation        5
dtype: int64

In [12]:
# On regroupe les variables categorielles et continues entre elles

categorical = []
continuous = []

for c in list(data):
    col = data[c]
    nunique = col.nunique()
    if nunique < 20:
        categorical.append(c)
    else:
        continuous.append(c)


print(categorical)
print(continuous)

['children', 'number_vehicles', 'commute_time', 'gender', 'disease', 'education', 'employment', 'marital_status', 'ancestry', 'accommodation']
['dob', 'zipcode']